{{ define "content" }}
<section class="container page">
  <article>
  <header>
    <h1>Our Services</h1>
  </header>

  <p>
    We are available for all kinds of technical work, particularly focused on
    technical strategy and practical technical leadership in all types of
    organisation. <a href="mailto:matthew@mexico86.co.uk">Contact us</a> to start a conversation
    about your particular needs
  </p>

  <div class="flex-grid">
    {{ range .Pages }}
    <div class="col">
      <div class="service-title">
        <h3>{{.Title}}</h3>
      </div>
      <div class="service-content">
        {{ .Content }}
      </div>
      <div class="service-billing">
        {{ .Param "billing" }}
      </div>
    </div>
    {{ end }}
  </div>
  </article>
</section>
{{ end }}
