<nav class="navigation">
  <section class="container">
    <div class="header-flex-grid">
      <div class="header-col">
      <a href="{{ .Site.BaseURL | absLangURL }}">
        <img class="nav" src="/images/mxco86_logo.jpg"></img>
      </a>
    </div>
    <div class="header-col">
      {{ with .Site.Menus.main}}
        <input type="checkbox" id="menu-toggle" />
        <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
        <ul class="navigation-list">
          {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}
        {{ range .Site.Home.AllTranslations }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li class="navigation-item menu-separator">
                <span>|</span>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li class="navigation-item">
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
    </div>
    </div>
  </section>
</nav>
